@use 'reset';

.container{
    width: 95%;
    margin: auto;

    .content{
        display: flex;
        margin: 10px 0px;
        flex-wrap: wrap;
        gap: 2%;
        justify-content: space-between;
        
        .card{
            width: 18%;
            margin: 10px 0px;
            cursor: pointer;
            text-align: center;

            .card-body{
                text-align: left;
            }
        }
    }
    
   
    .body{
        
        text-align: left;
        // background-color: aqua;
        margin: 20px 0px;
    }
}